.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size;
}

.header__title { //BEM convention (alternative to nesting) -> Block (the core), Element (the target inside), Modifier
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
